<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf8">

<title>智能电视推荐系统</title>


</head>

<body style="margin:auto">

<div id="header" style="height:10%;background-color:#00f"></div>

<div style="width:40%;height:80%;margin:0 auto 0 auto">

<div id="infor" style="text-align:center;background-color:#faa">
《{{title}}》
<div>{{content}}</div>
</div>
<div id="play" style="margin-top:10px;text-align:center">
<a href="/index/play/{{id}}">播放</a>
</div>

</div>

<div id="footer" style="height:10%;width:100%;background-color:#00f"></div>

</body>


</html>